{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        },
        "corejs": "2.6.12",
        "useBuiltIns": "entry"
      }
    ],
    "@babel/react"
  ]
}