.carousel {
  position: relative;
  overflow: hidden;

  .container-sliders {

    display: flex;
    flex-wrap: nowrap;
      
    .slider {

      min-width: 100%;
      overflow: hidden;
      transition: .3s ease all;
      z-index: 10;
      position: relative;

      .img-carousel {

        min-width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .texto-slide {

        width: 100%;
        text-align: center;
        position: absolute;
        top: 15%;

        .home-title {

          font-size: 2.4rem;
          font-weight: bold;
          line-height: 3.5rem;
          letter-spacing: 0.2em;
          color: #282825;
          margin: 0;
          margin-top: 5%;
        }

        .home-subtitle {

          font-family: 'Merriweather';
          font-size: 4.2rem;
          font-weight: 400;
          line-height: 6.5rem;
          color: #282825;
          margin: 30px 0 8px 0;
        }

        .home-description {

          font-size: 2.4rem;
          font-weight: 400;
          line-height: 3.5rem;
          color: #282825;
          margin: 0;
        }

        .see-more-button {

          width: 188px;
          height: 60px;
          background-color: #FFB338;
          border-radius: 30px;
          margin: 0;
          margin-top: 32px;
          color: #181813;
        }
      }
    }
  }
  .controles {

    width: 100%;
    position: relative;
    z-index: 20;

    .arrow-left {

      position: absolute;
      top: -50vh;
      left: 40px;
      cursor: pointer;
    }
    
    .arrow-right {

      position: absolute;
      top: -50vh;
      right: 40px;
      transform: rotate(180deg);
      cursor: pointer;
    }

    .container-ellipse {

      display: flex;
      justify-content: space-between;
      width: 160px;
      position: absolute;
      top: -70px;
      left: calc(50% - 80px);

      span{

        img{
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  
  .carousel {
  
    .container-sliders {
        
      .slider {
  
        .texto-slide {
          padding: 0 20px;

          .home-title {
  
            font-size: 2rem;
            font-weight: bold;
            line-height: 3rem;
            letter-spacing: 0.2em;
            color: #282825;
            margin: 0;
            margin-top: 5%;
          }
  
          .home-subtitle {
  
            font-family: 'Merriweather';
            font-size: 3rem;
            font-weight: 400;
            line-height: 4rem;
            color: #282825;
            margin: 30px 0 8px 0;
          }
  
          .home-description {
  
            font-size: 2rem;
            font-weight: 400;
            line-height: 3.5rem;
            color: #282825;
            margin: 0;
          }
  
          .see-more-button {
  
            width: 188px;
            height: 60px;
            background-color: #FFB338;
            border-radius: 30px;
            margin: 0;
            margin-top: 32px;
            color: #181813;
          }
        }
      }
    }
    .controles {
  
      .arrow-left {
        
        top: -82.5px;

        img {

          width: 50px;
          height: 50px;
        }
      }
      
      .arrow-right {

        top: -82.5px;

        img {

          width: 50px;
          height: 50px;
        }
      }
  
      .container-ellipse {
  
        width: 100px;
        left: calc(50% - 50px);
  
        span{
          
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}