@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

header {

  font-family: 'Inter', sans-serif;
  width: 100%;

  nav {

    display: flex;
    align-items: center;
    background: rgba(43, 8, 128, 0.7);
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
  
      img {
        
        width: 169px;
        height: 47px;
        margin: 0 auto;
      }
    
      a {
        
        color: #fff;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 145.23%;
        cursor: pointer;
      }
  }

  section {

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    text-align: center;

      .home-title {

        font-size: 2.4rem;
        font-weight: bold;
        line-height: 3.5rem;
        letter-spacing: 0.2em;
        color: #282825;
        margin: 0;
        margin-top: 5%;
      }

      .home-subtitle {

        font-family: 'Merriweather';
        font-size: 4.2rem;
        font-weight: 400;
        line-height: 6.5rem;
        color: #282825;
        margin: 30px 0 8px 0;
      }

      .home-description {

        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3.5rem;
        color: #282825;
        margin: 0;
      }

      .see-more-button {

        width: 188px;
        height: 60px;
        background-color: #FFB338;
        border-radius: 30px;
        margin: 0;
        margin-top: 32px;
        color: #181813;
      }

      .container-ellipse {

        display: flex;
        justify-content: space-between;
        width: 160px;
        position: absolute;
        bottom: 70px;
        left: calc(50% - 80px);

        span{

          width: 20px;
          height: 25px;
        }

      }

      .arrow-left{
        
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(50%);
        left: 40px;
      }

      .arrow-right{
        
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(50%);
        right: 40px;
        transform: rotate(180deg);
      }

    }
}
